<img src="/img/hamburger2.jpg" alt="Image of burger">
<h1>Eat-Da-Burger</h1>

<form action="/" method="POST">
    <textarea name="task" id="" cols="30" rows="10"></textarea>
    <button>Submit</button>
    <h3>Enter a burger you want to eat. Click the "Submit" button.</h3>
</form>
